<search-directive class="search-bar"></search-directive>

<div class="current-forecast" ng-model="currentWeatherData">
    <h2 class="location-name">{{currentWeatherData.display_location.full}}</h2>
    <div class="weather-gif-current">
        <img ng-src={{currentWeatherData.icon_url}} alt="">
    </div>
    <div class="current-temp">
        <h2>{{currentWeatherData.weather}}</h2><br>
        <h2>{{currentWeatherData.temp_f}} &#8457</h2>
        <h2>Feels like {{currentWeatherData.feelslike_f}} &#8457</h2>
    </div>
    <h2>Observations: {{currentWeatherData.wind_string}}</h2>



</div>