<div class="search-bar">
    <form ng-submit="getW(searchCriteria)">
    <input auto-complete ui-items="citiesArr" class="searchBox" ng-model="searchCriteria" ng-change="getCorrect(searchCriteria)" ng-focus="getCorrect(searchCriteria)" type="text" results=5 placeholder="search by city or zip" showsearch="showSearch">
    </form>
    </div>
    <ul class="option-holder" ng-show="showSearch">
        <li class="option-repeater" ng-repeat="city in citiesArr" ng-model="searchOption" ng-click="getW(city.description)">
            {{city.description}}
        </li>
    </ul>


</div>